  .articles-wrapper {
    align-self: center;
    width: 100%;
    max-width: none;
  }

  .articles-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color:black;
   
  }
  
  .articles-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .articles-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 25px;
    margin-bottom: 1.5rem;
    justify-content: space-between;
  }
  
  .search-input,
  .sort-select,
  .date-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 180px;
    flex-grow: 1;
  }
  
  
  